{% extends 'home/top_menu.html' %}
<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% block content %}

<div class="container">
<nav class="nav nav-pills flex-column flex-sm-row">
  <a class="flex-sm-fill text-sm-center nav-link active" aria-current="page" href="#">Классические методы СКЗ</a>
  <a class="flex-sm-fill text-sm-center nav-link" href="{% url 'media_file_mask' media_file.id %}">Классические методы СКЗ</a>
  <a class="flex-sm-fill text-sm-center nav-link" href="{% url 'media_file_pose' media_file.id %}">Нейросеть mediapipe</a>
  <a class="flex-sm-fill text-sm-center nav-link" href="{% url 'media_file_yolo' media_file.id %}">Нейросеть Yolo</a>
</nav>

</div>
<div class="media-title">
    <h1>Главная страница для объекта исследования</h1>
    <h2>{{ media_file.title|default:"Без названия" }}</h2>
    <p>Принадлежит исследованию: {{ media_file.research.title }}</p>
</div>

<div class="media-container">
    {% if is_video %}
    <video controls>
        <source src="{{ media_file.media_file.url }}" type="video/mp4">
        Ваш браузер не поддерживает видео тег.
    </video>
    {% else %}
    <img src="{{ media_file.media_file.url }}" alt="{{ media_file.description|default:'Image' }}">
    {% endif %}
</div>

{% endblock %}
</body>
</html>
