{% extends 'home/top_menu.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% block content %}

  <div class="container">
      </br>
<a href="{% url 'media_file_create' research.id %}" class="btn btn-primary">Добавить образец</a>

    </br>
  </div>
<center>
    <h3>{{ researche.title }}</h3>
    </br>
<h3>Общее количество фотографий: {{ total_photos }}</h3>

    </br>
<h3>Таблица объектов исcледования</h3>
     </br>
<div>

<div class="container">
    <table class="table">
  <thead class="table-dark">
            <tr>
            <th>#</th>
            <th>Фото объекта</th>
            <th>Описание объекта исследования</th>
            <th>Результат работы распознования</th>
        </tr>
  </thead>

<tbody>
    {% for media_file in media_files %}
    <tr>
        <td>{{ forloop.counter }}</td>
        <td>    {% if media_file.is_video %}
    <video style="width:100px; height:auto;" controls>
        <source src="{{ media_file.media_file.url }}" type="video/mp4">
        Ваш браузер не поддерживает видео тег.
    </video>
    {% else %}
    <img src="{{ media_file.media_file.url }}" alt="Media file" style="width:100px; height:auto;">
    {% endif %}
        </td>
        <td>
            {% for class_name, count in photo.classes %}
                <p>{{ class_name }}: {{ count }}</p>
            {% endfor %}
        </td>
        <td>
            <a href="{% url 'media_file_detail' media_file.id %}" class="btn btn-lg btn-primary">Просмотр</a>
            <a href="{% url 'delete_media_file' media_file.id %}" class="btn btn-lg btn-danger">удалить</a>
        </td>
    </tr>
    {% endfor %}
</tbody>

</div>
</center>

{% endblock %}
</body>
</html>
