{% extends 'home/top_menu.html' %}
{% block content %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Research</title>
    <!-- Добавляем CSS для Select2 -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet" />
</head>
<body>
    <form method="post" action="">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Submit</button>
    </form>

    <!-- Добавляем JS для Select2 и инициализируем его -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
    <script>
        $(document).ready(function() {
            // Инициализируем Select2 для элементов формы, для которых это необходимо
            $('.django-select2').select2();
        });
    </script>
</body>
{% endblock %}