    .media-container {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 400px;
        margin-top: 20px;
    }

    .media-container img, .media-container video {
        max-width: 80%;
        max-height: 400px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        border-radius: 10px;
    }

    .media-container video {
        width: auto;
        height: auto;
    }

    .media-title {
        text-align: center;
        margin-bottom: 20px;
    }